.idea
venv
.env
.venv
.env
__pycache__
.pytest_cache
build
dist
*.egg-info
.eggs
buid-and-install.bat
**/input
**/Input.txt
**/input.txt
**/test
**/test.txt
stats/times.py
test
stats